doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Test

    link(rel="shortcut icon" type="image/svg" href="./images/favicon.svg")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css")
    link(rel="stylesheet" href="./style.css")

    script(defer src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")
    script(defer src="./main.js")
  body
    block content
